.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  column-gap: 5vw;
}

.pref-button {
    margin-top: 2vh;
    border-radius: 4px;
    background-color: #9E5345;
    border: none;
    color: #EFEAE2;
}