.login-wrapper-card {
    background-color: #2E5041;
    border-radius: 10px;
    padding: 20px;
    color: #C28364;
    margin-top: 5vh;
    width: fit-content;
    height: fit-content;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

input {
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.login-button {
    background-color: #9E5345;
    color: #EFEAE2;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}

/* .login-wrapper-card h1 {
    color: #C28364;
     
    2E5041
    EFEAE2
    9E5345
    C28364 
} */