.myCard{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
}

.myCard img {
    max-width: 80%;
    border-radius: 50%;
    transition: all 1s;
}

.myCard img:hover {
    transform: rotate3d(1, 0, 1, 360deg);
    transition: all 1s;
}

.linkAligned {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.green {
    color: green;
}

.red {
    color: red;
}